
body{
    background-color:rgb(24,24,24);
    color:white;
    
  }
   .move-btn{
     padding:20px 20px;
     color:white;
     background-color:black;
     border-radius:10px;
     font-size:18px;
     box-shadow:5px 5px 5px rgba(255,0,0,0.50);
     border-radius:50%;
     margin-left:10px;
   }
  .rule-box{
    margin-top:160px;
    width:200px;
    margin-left:50px;
    box-shadow:2px 2px  5px 5px rgba(255,0,0,0.25);
  }
  .move-img{
    height:50px;
    
  }
  .result{
    margin-top:100px;
    margin-left:60px;
    width:300px;
    font-size:22px;
    text-align:left;
  }
  .moves{
    margin-top:30px;
    vertical-align:center;
    font-size:18px;
  }
  .score{
    margin-top:40px;
    font-size:20px;
  }
  .h1{
    display:inline;
  }
  .helplink{
    font-size:16px;
    color:lightblue;
    display:inline;
  }
  @media (orientation:landscape){
    h1{
      text-align:center;
    }
  }
